{% extends 'admin_base.html' %}  
  
{% block main %}  
 
 
<div class="card shadow m-2"> 
    <div class="card-body"> 
    <h5 class="p-2 text-danger" style="border-bottom:2px solid orange">Leave Requests</h5> 
    <div class="container-fluid"> 
        <table class="table table-bordered  table-hover "  > 
             
                <tr> 
                    
                   
                    <th>Name </th> 
                    <th>Email ID</th> 
                    <th>Start Date</th> 
                    <th>End Date</th> 
                    <th>Reason</th> 
                    <th>Action</th> 
                </tr> 
             
             
                {% for i in leave %}
                <tr>

                </tr>
               
                <td>{{ i.Name }}</td>
                <td>{{ i.Email }}</td>
                <td>{{ i.Start_Date }}</td>
                <td>{{ i.End_Date }}</td>
                <td>{{ i.Reason }}</td>
                <td class="text-center">
                     <div class="actions">
                         {% if i.status == 0 %}
                         <a href="{% url 'leave_approve' id=i.id %}" class="btn btn-success">Approve</a>
                         <a href="{% url 'leave_reject' id=i.id %}" class="btn btn-danger">Reject</a>
                         <span class="badge badge-pill badge-warning">Pending</span>
                        

                         {% elif i.status == 1%}
                         <button class="btn btn-success" disabled="disabled" data-toggle="modal" data-target="#reply_modal">Approved</button>
                         <span class="badge badge-pill badge-success">Approved</span> 

                        

                         {% else %}
                         <button class="btn btn-danger" disabled="disabled" data-toggle="modal" data-target="#reply_modal">Rejected</button>
                         <span class="badge badge-pill badge-success">Rejected</span> 

                         {% endif %}
                         
                        

                         
                    </div>
                </td>
               

            </tr> {% endfor %}








 
                
             
        </table> 
 
    </div> 
     
</div> 
{% endblock %}